In [1]:
!pip install pyodbc

^C

In [20]:
import pyodbc 

connection = pyodbc.connect('Driver={SQL Server};' 'Server=RAMESHWAR;'
                            'Database=retail;' 'Trusted_connection=yes;')
print(connection)

cursor = connection.cursor()

<pyodbc.Connection object at 0x000001858CF25480>

In [4]:
show_db_query = "use retail"

cursor.execute(show_db_query)

In [5]:
create_cust_table_query = "CREATE TABLE customers(id INT PRIMARY KEY, Age int, Name VARCHAR(100), male_female varchar(10));"

cursor.execute(create_cust_table_query)

In [6]:
insert_cust_query = """INSERT INTO customers VALUES 
                       (1001,34,'Austin','male'),
                       (1002,37,'Houston','male'),
                       (1003,25,'Austin','female'),
                       (1004,28,'Houston','female'),
                       (1005,22,'Dallas','male')"""
cursor.execute(insert_cust_query)

In [7]:
show_table_query = "select * from customers where Name = 'Austin'"

cursor.execute(show_table_query)
print(cursor.fetchall())

[(1001, 34, 'Austin', 'male'), (1003, 25, 'Austin', 'female')]

In [8]:
show_table_query = "select Name from customers group by Name"

cursor.execute(show_table_query)
print(cursor.fetchall())

[('Austin', ), ('Dallas', ), ('Houston', )]

In [ ]:
show_table_query = "select male_female from customers group by male_female"

cursor.execute(show_table_query)
print(cursor.fetchall())

In [19]:
drop_orders_query= "drop table customers;"
cursor.execute(drop_orders_query)

In [11]:
create_orders_table_query = """CREATE TABLE orders(date date, Amount int);"""
cursor.execute(create_orders_table_query)

In [12]:
add_new_column_query = "Alter table orders add is_sale varchar(10)"
cursor.execute(add_new_column_query)

In [13]:
insert_orders_query = """INSERT INTO orders VALUES
                         ('2022-10-1',100.25,1),
                         ('2022-10-2',200.75,2),
                         ('2022-10-3',500.00,3),
                         ('2022-10-3',600.00,4),
                         ('2022-10-4',600.00,5)"""
cursor.execute(insert_orders_query)

In [14]:
show_table_query = "select * from orders where date = '2022-10-03'"

cursor.execute(show_table_query)
print(cursor.fetchall())

[('2022-10-03', 500, '3'), ('2022-10-03', 600, '4')]

In [15]:
show_table_query = "select * from orders where Amount>300"

cursor.execute(show_table_query)
print(cursor.fetchall())

[('2022-10-03', 500, '3'), ('2022-10-03', 600, '4'), ('2022-10-04', 600, '5')]

In [16]:
show_table_query = "select * from orders where date = '2022-10-03' order by Amount DESC"

cursor.execute(show_table_query)
print(cursor.fetchall())

[('2022-10-03', 600, '4'), ('2022-10-03', 500, '3')]

In [17]:
count_distinct_query = "SELECT COUNT(DISTINCT date) from orders"

cursor.execute(count_distinct_query)
print(cursor.fetchall())

[(4, )]

In [18]:
average_query = "SELECT avg(Amount) from orders"

cursor.execute(average_query)
print(cursor.fetchall())

[(400, )]