In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt 
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\Rameshwar Agarwal\Desktop\python\assignment 3\bank-data.csv')

In [3]:
df

     age            job  marital    y
0     20        student   single  yes
1     32     management   single  yes
2     49     technician  married  yes
3     32    blue-collar  married  yes
4     33     management  married  yes
..   ...            ...      ...  ...
442   26     technician   single  yes
443   60  self-employed  married  yes
444   42    blue-collar   single  yes
445   32         admin.   single  yes
446   46    blue-collar  married  yes

[447 rows x 4 columns]

In [37]:
df['y'].unique()

array(['yes'], dtype=object)

In [25]:
unique_job = df['job'].unique()
uj_lst = list(unique_job)
uj_set = set(unique_job)
print("The set of unique professsions is: " ,uj_set)
print("The list of unique professsions is: " ,uj_lst)

The set of unique professsions is:  {'admin.', 'student', 'entrepreneur', 'self-employed', 'technician', 'services', 'blue-collar', 'housemaid', 'management'}
The list of unique professsions is:  ['student', 'management', 'technician', 'blue-collar', 'admin.', 'services', 'self-employed', 'entrepreneur', 'housemaid']

In [32]:
string = str(input("Enter the profession to check availability \n"))
for i in uj_lst:
    if i.lower() == string.lower():
        print("Profession ", i, " in list--> client eligible",)

Enter the profession to check availability
sTuDeNt
Profession  student  in list--> client eligible