In [1]:
import pandas as pd 
import numpy as np

In [2]:
df= pd.read_csv(r'C:\Users\Rameshwar Agarwal\Desktop\python\assignment 3\FairDealCustomerData.csv', header=None)
df

              0                      1  2
0        Braund       Mr. Owen Harris   1
1     Heikkinen           Miss. Laina   0
2         Allen     Mr. William Henry   0
3         Moran             Mr. James   0
4      McCarthy         Mr. Timothy J   0
..          ...                    ... ..
527    Banfield   Mr. Frederick James   0
528    Sutehall          Mr. Henry Jr   0
529    Montvila           Rev. Juozas   0
530        Behr       Mr. Karl Howell   0
531      Dooley           Mr. Patrick   0

[532 rows x 3 columns]

In [5]:
class Customer:
    title = ""
    fname = ""
    lname = ""
    isblacklisted = 0;

    def __init__(self):
        self.title = ""

    def __str__(self):
        return "\n"+" Title:" + self.title + "\n"+" First Name:" + self.fname +"\n"+ " Last Name:" + self.lname +"\n"+ " Blacklisted:" + self.isblacklisted

    def setIsblacklisted(self,isblacklisted):
        self.isblacklisted = isblacklisted

    def isblacklisted(self):
        return self.isblacklisted

    def setTitle(self,title):
        self.title = title

    def getTitle(self):
        return self.title

    def setFname(self,fname):
        self.fname = fname

    def getFname(self):
        return self.fname

    def setLname(self,lname):
        self.lname = lname

    def getLname(self):
        return self.lname



customer1 = Customer()
customer1.setTitle("Mr.")
customer1.setFname("Barack")
customer1.setLname("Obama")

customer2 = Customer()
customer2.setTitle("Mrs.")
customer2.setFname("George")
customer2.setLname("Bush")

print("First Customer Title is", customer1.getTitle())
print("Second Customer Title is", customer2.getTitle())
print("First Customer Title is", customer1.getTitle())

First Customer Title is Mr.
Second Customer Title is Mrs.
First Customer Title is Mr.

In [6]:
import re 
class CustomerNotAllowed(Exception):

    def __init__(self, value):
        self.value = value

    def __str__(self):
        return repr(self.value)

In [7]:
def createCustomerObject(custdata):
    
    customer = Customer()
    match = re.search(' ([A-Za-z]+)\.', custdata) 
    title = ""
    if( match is not None):
        title = match.group(0)
        customer.setTitle(title.strip())
    data = (custdata.replace(title,'')).split(',',2) 
    customer.setLname(data[0].strip())
    customer.setFname(data[1].strip())
    customer.setIsblacklisted(data[2])
    return customer

In [11]:
def createOrder(customer,productname):

    if customer.isblacklisted == "1": 
        raise CustomerNotAllowed("Customer is Black Listed:" + customer.__str__())
    else:
        print(" Order created successfully for:\n" + customer.__str__())

In [14]:
customer_file = open(r'C:\Users\Rameshwar Agarwal\Desktop\python\assignment 3\FairDealCustomerData.csv')
customerlist = [] 

for data in customer_file:
    customerlist.append(createCustomerObject(data.rstrip('\n')))

customer_file.close()
print ("No . of customers read from file:\n",len(customerlist))

No . of customers read from file:
 532

In [15]:
for i in range(0,2):
    try:
        createOrder(customerlist[i]," LEDTV")
    except CustomerNotAllowed as cne:
        print(" Exception Customer NotAllowed handled message\n", cne)

print ("End of Program")

 Exception Customer NotAllowed handled message
 'Customer is Black Listed:\n Title:Mr.\n First Name:Owen Harris\n Last Name:Braund\n Blacklisted:1'
 Order created successfully for:

 Title:Miss.
 First Name:Laina
 Last Name:Heikkinen
 Blacklisted:0
End of Program